.game-item {
    border: solid, black, 3px;
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.game-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-game-form {
    margin: 8px;
    padding: 8px;
    
}

.label-game-form {
    margin: 5px 0px
}