.game-item {
    border: solid, black, 3px;
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.game-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-game-form {
    margin: 8px;
    padding: 8px;
    
}

.label-game-form {
    margin: 5px 0px
}

.game-detail-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btn-review-game {
    padding: 5px;
    margin: 10px 0px;
}

.review-form-container {
    display: flex;
    justify-content: center;
}
.review-text-area {
    width: 100%;
    height: 100px;
    text-align: left; /* Aligns text to the left */

}

.game-review {
    margin: 15px;
    padding: 8px;
    border: dotted purple 1px;
}